body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

form {
    margin-bottom: 20px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #007bff;
    border-radius: 4px;
    background-color: #4298f5;
    color: #fff;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #0e427a;
}

