body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.pessoas-section {
    background-color: #ececec;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.flex-container {
    display: flex;
}

.identacao-endereco {
    margin-left: 10%;
}

#informacoes-adicionais-container {
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    height: 400px;
    width: 400px;
    margin-left: 200px;
}

#pessoas-container {
    height: 500px;
    overflow-y: auto;
}

.pessoa-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    width: 500px;
    height: 45px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.detalhes-section {
    display: none;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pessoa-container strong {
    color: #007bff;
}

.pessoa-container.selecionado {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    height: 50px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #007bff;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #0056b3;
}
